*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Acme', sans-serif;
}

h1{
  font-family: 'Acme', sans-serif;
  margin: 0 10px;
  color: #29B1DD;
}

header{
  display: flex;
  justify-content: center;
  background-color: #29B1DD;
  padding: 20PX;
  color: white;
}

header select{
  margin: 0 10px;
}

main{
  background-color: #DDDDDD;
  /* filter: drop-shadow(8px 8px 10px black); */
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  height: 80px;
  width: 200px;
  border: 1px solid black;
  border-radius:10px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 20px 20px;
}

.text{
  font-size: 15px;
  text-transform: uppercase;
}

i{
  font-size: 30px;

}

.orange{
  color: orange;
}
.green{
  color: green;
}
.blue{
  color: blue;
}
